.tarta {
    background-color: rgba(255, 192, 222, 0.09);
}

.deco {
    background-color: rgba(255, 192, 222, 0.09);
    width: 200px;
    background-image: resource('Images/gato');
    height: 100px;
}

.vela {
    width: 80px;
    background-color: rgba(255, 192, 23, 0);
    margin-right: 0;
    margin-left: 0;
    flex-shrink: 1;
    flex-wrap: wrap;
    background-image: resource('Images/vela');
    position: absolute;
    height: 140px;
}

.button {
    background-color: rgb(251, 180, 242);
    -unity-text-outline-color: rgb(243, 0, 0);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left-color: rgb(251, 180, 242);
    border-right-color: rgb(251, 180, 242);
    border-top-color: rgb(251, 180, 242);
    border-bottom-color: rgb(251, 180, 242);
}

.zone1 {
    align-items: center;
    justify-content: flex-start;
    align-self: auto;
    background-color: rgb(246, 214, 242);
    padding-top: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
}

.zones {
    background-color: rgb(255, 180, 246);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top: 11px;
    margin-right: 20px;
    margin-bottom: 11px;
    margin-left: 20px;
    padding-top: 13px;
    padding-right: 13px;
    padding-bottom: 13px;
    padding-left: 13px;
}

.zonesNombre {
    background-color: rgb(255, 104, 159);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top: 11px;
    margin-right: 20px;
    margin-bottom: 11px;
    margin-left: 20px;
    padding-top: 13px;
    padding-right: 13px;
    padding-bottom: 13px;
    padding-left: 13px;
}

.button:hover {
    background-color: rgb(255, 104, 159);
    -unity-text-outline-color: rgb(243, 0, 0);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left-color: rgb(251, 180, 242);
    border-right-color: rgb(251, 180, 242);
    border-top-color: rgb(251, 180, 242);
    border-bottom-color: rgb(251, 180, 242);
    rotate: -1deg;
    scale: 1.05 1.05;
    -unity-background-image-tint-color: rgba(255, 104, 159, 0);
}

.vela:hover {
    width: 80px;
    background-color: rgba(255, 192, 23, 0);
    margin-right: 0;
    margin-left: 0;
    flex-shrink: 1;
    flex-wrap: wrap;
    background-image: resource('Images/vela');
    position: absolute;
    height: 140px;
    rotate: 4deg;
}

.deco:hover {
    background-color: rgba(255, 192, 222, 0.09);
    width: 200px;
    background-image: resource('Images/gato');
    height: 100px;
    rotate: 8deg;
}
